<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="POPN4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <POPN4.Properties.Settings>
            <setting name="MySetting" serializeAs="String">
                <value>"testing"</value>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="OptionsAreExpanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowSampledTimeSeries" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowDopplerAscan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowDopplerTimeSeries" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowDopplerSpectrum" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowSNRProfile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowDopplerProfile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RxNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HtIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DopplerProfLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DopplerProfSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SNRProfileLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SNRProfileSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DopplerSpecLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DopplerSpecSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DopplerTSLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DopplerTSSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DopplerAScanLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DopplerAScanSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SampledTSLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SampledTSSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ShowCrossCorr" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CrossCorrSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="CrossCorrLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PowerMeterLocation" serializeAs="String">
                <value>600, 80</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CrossCorrRatioSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="CrossCorrRatioLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="CrossCorrSlopeSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="CrossCorrSlopeLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ShowClutterWavelet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClutterWaveletLocation" serializeAs="String">
                <value>400, 200</value>
            </setting>
            <setting name="ClutterWaveletSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </POPN4.Properties.Settings>
    </userSettings>
</configuration>
